body {
  background: #0f172a;
}

.dashboard {
  padding: 20px;
  min-height: 100vh;
}

.dashboard h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: linear-gradient(135deg,#1e293b,#0f172a);
  width: 280px;
  padding: 25px;
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(37,99,235,0.3),
    0 10px 25px rgba(0,0,0,0.3);

  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
}

.card h3 {
  color: #cbd5e1;
  margin-bottom: 15px;
}

.card p {
  font-size: 48px;
  font-weight: bold;
  color: #60a5fa;
}

.dashboard button {
  display: block;
  margin: 40px auto;
  padding: 14px 30px;
  border: none;
  border-radius: 50px;

  background: linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
  );

  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 0 20px rgba(37,99,235,0.4);
}

.dashboard button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .dashboard h1 {
    font-size: 34px;
  }

  .card {
    width: 100%;
  }

  .card p {
    font-size: 42px;
  }
}