.table-container{

  padding:30px;

  min-height:100vh;
}

.table-container h2{
  color:white;
  font-size:36px;
  margin-bottom:20px;
}

.search-box{

  width:100%;
  max-width:400px;

  padding:14px;

  border:none;

  border-radius:14px;

  background:#1e293b;
  color:white;

  margin-bottom:25px;
}

.token-table{

  width:100%;

  background:
  rgba(255,255,255,.05);

  backdrop-filter:blur(18px);

  border-radius:20px;

  overflow:hidden;
}

.token-table th{

  background:
  linear-gradient(135deg,#2563eb,#7c3aed);

  color:white;

  padding:18px;
}

.token-table td{
  padding:18px;
  color:white;
}

.token-table tr:hover{
  background:
  rgba(255,255,255,.05);
}

.edit-btn{
  background:#22c55e;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:10px;
  cursor:pointer;
}

.delete-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:10px;
  cursor:pointer;
}

.status{
  padding:8px 14px;
  border-radius:30px;
  font-weight:bold;
}

.Waiting{
  background:#2563eb;
}

.Serving{
  background:#22c55e;
}

.Served{
  background:#64748b;
}

@media(max-width:768px){

.token-table{
  display:block;
  overflow-x:auto;
}

}